ConsoleApp/bin/Debug/net7.0/ConsoleApp.deps.json
ConsoleApp/bin/Debug/net7.0/ConsoleApp.dll
ConsoleApp/bin/Debug/net7.0/ConsoleApp.exe
ConsoleApp/bin/Debug/net7.0/ConsoleApp.pdb
ConsoleApp/bin/Debug/net7.0/ConsoleApp.runtimeconfig.json
ConsoleApp/Program03.cs
